<div class="about-page">
  <div class="about-content">
    <h1>About page</h1>
    <p> This website was made by Pablo Masip & Joseph Logan as part of a <a href="https://www.thehackingproject.org/">THP</a> Project !</p>
    <p> Visit our <a href="https://github.com/Todiun/Super-Cat">Github</a></p>
  </div>
</div>