
<head>

</head>

<%= render 'layouts/navbar' %>
<div class="landing-container">
  <h1 class="brand-title">Super CAT</h1>
  <p class="question-text">Ever dreamed of finding the perfect cat ?</p>
  <div class="button-container">
    <button class="choice-button">Yes</button>
    <button class="choice-button">No</button>
  </div>
</div>