<div class="landing-container">
  <h1 class="brand-title">Super CAT</h1>
  <p class="question-text">Ever dreamed of finding the perfect cat ?</p>
  <div class="button-container">
  <%= link_to 'Yes', 'cats', class: 'choice-button' %>
  <%= link_to 'No', easter_egg_path, class: 'choice-button' %>
  </div>
</div>