<p style="color: green"><%= notice %></p>

<% content_for :title, "Cats" %>

<h1>Cats</h1>

<div id="cats">
  <%unowned_cats = get_unowned_cats%>
  <%for cat in unowned_cats do%>
      <%= render "cat_card", cat: cat %>
  <%end%>
</div>
