<% content_for :title, "Find your perfect cat" %>

<div class="container text-center my-5">
  <h1 class="display-4">Super CAT</h1>
  <p class="lead mb-5">Find your perfect cat in seconds.</p>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @cats.each do |cat| %>
      <% unless cat.users.include?(current_user) %>
        <div class="col">
          <%= render "cat_card", cat: cat %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
